.element__image_trash {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  background-image: url("../../../../images/Trash.svg");
  width: 18px;
  height: 19px;
  background-size: cover;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: transparent;
  border: none;

}

.element__like:hover {
  opacity: 0.5;
}
