.element__like_active {
  opacity: 1;
  background-image: url("../../../../images/like-active.svg");
  width: 22px;
  height: 19px;
  transition: all 0.3s ease;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.element__like_active:hover {
  opacity: 0.5;
}
