.popup__container {
  position: relative;
  box-sizing: border-box;
  min-width: 430px;
  padding: 34px 36px 37px;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
}
