.profile {
    padding: 40px 0 51px 0;
    min-height: 120px;
    display: flex;
    flex-direction: row;
    position: relative;
}

@media screen and (max-width: 894px) {
    .profile {
        padding: 42px 0 36px 0;
        height: fit-content;
        min-width: 282px;
        display: flex;
        flex-direction: column;
    }
}