.popup__button_close {
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: transparent;
  border: none;
}

.popup__button_close:hover {
  opacity: 0.6;
}

@media screen and (max-width: 535px) {
  .popup__button_close {
    right: -6px;
    top: -39px;
  }
}
