.profile__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  margin: 7px 0 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: calc(500px - 60px);
}

@media screen and (max-width: 425px) {
  .profile__text {
    margin-top: 7px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    max-width: 282px;
  }
}
