.profile__description {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    margin: 0;
    margin: 6px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 294px;
}

@media screen and (max-width: 894px) {
    .profile__description {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin: 10px auto 0;
        max-width: 189px;
    }
    
}