.footer__text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  margin: 0;
}

@media screen and (max-width: 425px) {
  .footer__text {
    max-width: 282px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 17px;
  }
}
