.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    column-gap: 17px;
    row-gap: 20px;
    padding: 0 0 67px;
    margin: 0;
}

@media screen and (max-width: 894px) {
    .grid {
    padding-bottom: 48px;
    }
}
