.profile__add-button {
  padding: 12px 62px;
  border: 2px solid #ffffff;
  border-radius: 2px;
  margin-left: auto;
  transition: all 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
  background-color: transparent;
}

.profile__add-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 690px) {
  .profile__add-button {
    margin-left: 0;
    margin-top: 36px;
  }
}

@media screen and (max-width: 425px) {
  .profile__add-button {
    min-width: 282px;
    max-width: 282px;
    padding: 15px 131px;
  }
}
